body {
background-image: url(images/mainbg.png);
font-family:'Calibri';
font-size:1em;
text-align: center;
}

html>body #content
{
width: auto;
min-width: 40px
} 

#logobox {
width: 902px;
height: 160px;
background-image: url(images/header.jpeg), url(images/background_logo.jpeg);
background-repeat: no-repeat;
}

#center {
margin-top: 8px;
display: block;
text-align: center;
}

h1, h2, h3
{
	border-bottom: 1px dashed red;
}

#shadowbox {
-moz-box-shadow: 0 0 6px 6px #585858;
-webkit-box-shadow: 0 0 6px 6px #585858;
box-shadow: 0 0 6px 6px #585858;
margin-left: auto;
margin-right: auto;
width: 902px;
}

#content-menu {
width: 901px;
margin-left: auto;
margin-right: auto;
text-align: left;
border: 1px solid grey;
background-color: white;

}

#box-dashed {
border: 1px dashed grey;
padding: 10px;
}

input {
margin-left: 20px;
}

.Button {
margin-left: 100px;
}

a:link {
color:#FF0000;
}
a:visited {
color:#FF0000;
}
a:hover {
color:red;
}
a:active {
color:#0000FF;
}

#content {
width: 891px;
margin-left: 0 auto;
margin-right: 0 auto;
text-align: left;
border: 1px solid grey;
background-color: white;
padding: 5px;

}

#menu {
width:900px;
height:0 auto;
}

#footer {
width:900px;
background:url(images/bg.png) repeat-x top left;
height:20px;
border:1px solid #000;
margin:0;
padding:0;
color: #c3c332;
text-align: right;
background-color:#B11718;
}

#cssmenu ul {
list-style-type:none;
width:900px;
position:relative;
display:block;
height:33px;
font-size:.6em;
background:url(images/bg.png) repeat-x top left;
font-family:Verdana,Helvetica,Arial,sans-serif;
border:1px solid #000;
margin:0;
padding:0;
overflow: hidden; 
}

#cssmenu li {
display:block;
float:left;
margin:0;
padding:0;
overflow: hidden; 
}

#cssmenu li a {
float:left;
color:#A79787;
text-decoration:none;
height:24px;
padding:9px 15px 0;
font-weight:normal;
overflow: hidden; 
}

#cssmenu li a:hover,
#cssmenu .active {
color:#fff;
background:url(images/bg.png) repeat-x top left;
text-decoration:none;
}

#menurechts {
float: right;
overflow:hidden;
}

#cssmenu .active a {
color:#fff;
font-weight:700;
}


#cssmenu ul{
background-color:#7c7c20;
}
#cssmenu li a:hover, #cssmenu li.active {
background-color:#c3c332;
}

#greenbox {
background-color: #00FF66;
border: 1px dashed grey;
padding: 10px;
}

#redbox {
background-color: red;
border: 1px dashed grey;
padding: 10px;
}

.box
{
border: 1px dashed #00008B;
background: #FC7176;
}

h4
{
padding: 3px 0 3px 8px;
background: #F34753;
color: #fff;
font-size: 1em;
margin: 0;
}

h5
{
padding: 3px 0 3px 8px;
float: right;
background: #F34753;
color: #fff;
font-size: 0.8em;
margin: 0;
}

h6 
{
padding: 3px 0 3px 8px;
float: right;
background: #FF8000;
color: #000;
font-size: 0.8em;
margin: 0;
}

.box p
{
font-size: 0.8em;
padding: 8px;
margin: 0;
}

caption {
padding: 0 0 .5em 0;
text-align: left;
font-size: 1.4em;
font-weight: bold;
text-transform: uppercase;
color: #333;
background: transparent;
}
	  
.odd {background: #fafafa;}

#intropic2 {
margin-left: 20px;
  -moz-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -o-transform:rotate(5deg);
  transform:rotate(5deg);
}

#intropic1 {
margin-left: 20px;
  -moz-transform:rotate(-5deg);
  -webkit-transform:rotate(-5deg);
  -o-transform:rotate(-5deg);
  transform:rotate(-5deg);
}

blockquote {
font-family: Georgia, serif;
font-size: 15px;
font-style: italic;
width: auto;
margin: 0.25em 0;
padding: 0.25em 40px;
line-height: 1.45;
position: relative;
color: #383838;
}

blockquote:before {
display: block;
content: "\201C";
font-size: 80px;
position: absolute;
left: -5px;
top: -20px;
color: #7a7a7a;
}

blockquote cite {
color: #999999;
font-size: 14px;
display: block;
margin-top: 5px;
}
 
blockquote cite:before {
content: "\2014 \2009";
}

#cite {
color: #999999;
font-size: 14px;
display: block;
margin-top: 5px;
}
 
#cite:before {
content: "\2014 \2009";
}

#admin-edit-box {
border: 1px dashed #999999;
margin-top: 20px;
padding: 3px;
}

#disk-comment {
border: 1px dashed #999999;
margin: 0.50em 0;
padding: 0.25em 40px;
}

input, textarea, select {   
        padding: 9px;  
        border: solid 1px #4c7603;  
        outline: 0;  
        font: normal 13px/100% Verdana, Tahoma, sans-serif;  
        width: 200px;  
        background: #FFFFFF url('bg_form.png') left top repeat-x;  
        background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));  
        background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);  
        box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
        -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
        -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
}  
      
textarea {   
        width: 400px;  
        max-width: 400px;
		min-width: 400px;
        height: 80px;
		max-height: 80px;
		min-height: 80px;
        line-height: 150%;
		padding: 9px;		
}  
      
input:hover, textarea:hover,  
input:focus, textarea:focus,
select:hover, select:focus  {   
        border-color: #a4ff06;   
        -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;  
}  
      
.form label {   
        margin-left: 10px;   
        color: #578803;
}  
      
.submit input {  
        width: auto;  
        padding: 9px 15px;  
        background: #617798;  
        border: 0;
        font-size: 14px;  
        color: #FFFFFF;  
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px; 
}  

table a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
table a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
table a:active,
table a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
table {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	width: 100%;
	border:#ccc 1px solid;
	
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
table th {
	padding:21px 25px 22px 25px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table th:first-child {
	text-align: left;
	padding-left:20px;
}
table tr:first-child th:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
table tr:first-child th:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
table tr {
	text-align: center;
	padding-left:20px;
}
table td:first-child {
	text-align: left;
	padding-left:20px;
	border-left: 0;
}
table td {
	padding:18px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td {
	border-bottom:0;
}
table tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
table tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
table tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
}